@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --back: #000000;
  --CeruleanBlue: #3b4cca;
  --Red: #ff0000;
  --white: #ffffff;
  --bg: #242657;
  --GoldenYellow: #ffde00;
  --GoldFoil: #b3a125;
  --bg-black: rgba(7, 6, 6, 0.8);
}
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 8px 24px rgba(130, 132, 185, 0.5);
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}
.name {
  font-family: "Tangerine", cursive;
  font-weight: 900;
  font-size: 3rem;
}
.des {
  color: #3b3b3b;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
}
.navbar-img {
  height: 50%;
}
.navbar-img:hover {
  height: 80%;
  transition: 0.5s ease-in;
}

@media (max-width: 700px) {
  .navbar {
    display: none;
  }
  header {
    justify-content: center;
    padding: 0 20px;
  }
}

/* main */
main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-image: url("./imagenes/Sin\ título.png");
  background-size: cover;
  background-position: center;
}

.search-container {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
  gap: 20px;
}
.search-container h1 {
  /* font-family: "Tangerine", cursive;  */
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}
.search-container-img {
  width: 100px;
  height: 100px;
}
.search {
  display: flex;
  justify-content: center;
  width: 100%;

  gap: 10px;
}
.input-container {
  display: flex;
}
.input-text {
  display: flex;
  background-color: #3b3b3b;
  color: var(--white);
  /* background: white; */
  outline: none;
  border: none;
  padding: 15px 5px;
  border-radius: 0px 8px 8px 0px;
  width: 200px;
}

.input-text::placeholder {
  /* color: #808080; */
  font-size: 0.9rem;
}

.input-container img {
  width: 34px;
  background-color: #3b3b3b;
  border-radius: 8px 0px 0px 8px;
  padding: 0.7rem;
}
.add-btn {
  background: #3b3b3b;
  color: white;
  outline: none;
  border: 0px solid;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.add-btn:hover {
  background: transparent;
  color: var(--back);
}

/* <!-- card container --> */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--bg-black);
  color: var(--white);
  border: 1px solid var(--GoldenYellow);
  box-shadow: var(--GoldenYellow) 0px 5px 15px;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 350px;
  width: 250px;
}
.card img {
  width: 300px;
  height: 250px;
}
.card h2 {
  font-size: 20px;
}
.card-altWd {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.card-img {
  border-radius: 1rem;
  height: 80%;
}

.search-container small {
  color: #dc3545;
  max-width: 350px;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  /* display: none; */
}
